.main-body{
  height: calc(100vh -100px);
  width: 100%;
  z-index: 2;
  text-align: center;
  
}


.main-body h1,h4,p{
  padding: 1vw 1.5vw;
  
  color: rgba(255, 255, 255, 0.46);
  
}

.main-body h1{

  font-size: 4vw;
  font-weight: 800;
  margin-left: 7.5vw;
}
.main-body h1:hover{
  /* color: rgba(255, 255, 255, 0.881); */
  animation: colorchange 2s ease-out 0.2s infinite alternate both running;
}
@keyframes colorchange {
  0%{ color:rgba(255, 255, 255, 0.512)};
  50% {color:rgba(255, 255, 255, 0.653);}
  100%{color:rgba(255, 255, 255, 0.829) ;}
}
.main-body h4{
  font-size: 2vw;
  
  margin-left: 9vw;
  color: rgba(255, 255, 255, 0.575);
 
}
.main-body h4:hover{
  animation: colorchange 2s ease-out 0.2s infinite alternate both running;
}

.main-body p{
  font-size: 1.5vw;
 
  margin-left: 10vw;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.663);
}
.main-body p:hover{
  animation: colorchange 2s ease-out 0.2s infinite alternate both running;
}



@media(max-width:1200px){
  .main-body{
   
    font-size: 10vw;
   margin-left: -5vw;
  }
  .main-body h1{
    font-size: 8vw;
    margin-top: 4vw;
  }
  .main-body h4{
    font-size: 6vw;
    margin-top: 2vw;
    
  }
  .main-body p{
    font-size: 5vw;
    margin-top: 2vw;
   
  }
}
@media(max-width:600px){
  .main-body{
    font-size: 12vw;
  }
  .main-body h1{
    font-size: 10vw;
  }
  .main-body h4{
    font-size: 8vw;
  }
  .main-body p{
    font-size: 7vw;
  }
}
