.main-login{
   
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    padding: 2vw 2.5vw;
    /* border: 2px solid red; */
    /* background-color: aqua; */
    margin: 0 10vw;
    height: calc(100vh -100px)
    
}

.form-elements{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 100%;
    width: 40%;
    padding: 2vw 2vw;
    background-color: rgba(0, 0, 0, 0.296);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    
}
.form-elements h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.613);
}
.form-elements label{
    text-align: left;
    padding: 1vw 1.5vw;
    color: rgba(255, 255, 255, 0.613);
}

.form-elements input{
    font-size: 2vw;
    padding: 1px 0;
    margin: 0 1.6vw;
    background-color: rgba(255, 255, 255, 0.495);
}
.form-elements button{
    padding: 9px 0;
    margin: 1vw 8.5vw;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.495);
    transition: box-shadow 0.3s ease; 
    cursor: pointer;
}

.form-elements button:hover{
    
    animation: change 2s ease-out 0.2s forwards;
}
@keyframes change {
    0%{box-shadow: 0 0 15px -2px rgba(255, 255, 255, 0.68);
        transform: scale(1.1);}
    50%{box-shadow: 0 0 30px -4px rgba(255, 255, 255, 0.603);
    transform: scale(1.2);}
    100%{box-shadow: 0 0 45px -6px rgba(255, 255, 255, 0.919);
    transform: scale(1.3);}
}
.checkbox{
    margin-top: 1vw;
}

.check{
    width: 40px;
    height: 20px;
}
.form-elements p, a{
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.613);
}

@media (max-width:1000px) {
    .form-elements{
        height: 100%;
        width: 80%;
    }

    .form-elements h1{
        font-size: 7vw;
    }
    .form-elements label{
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .form-elements input{
        height: 5vw;
    }
    .checkbox{
        margin-top: 3.5vw;
        margin-bottom: 4vw;
    }
    .form-elements button{
        font-size: 3vw;
      font-weight: 600;
       width: 20vw;
        height: 8vw;
        margin-left: 18vw;
    }
  .form-elements p, a{
    font-size: 3vw;
  }
    
}

@media (max-width:500px) {
    .form-elements{
        height: 500px;
    }
    .form-elements h1{
        font-size: 9vw;
    }
    .form-elements label{
        font-size: 6vw;
        margin-top: 2.5vw;
        margin-bottom: 1vw;
    }

    .form-elements input{
        height: 7vw;
    }
    .checkbox{
        margin-top: 4.5vw;
        margin-bottom: 4vw;
    }
    .form-elements button{
        font-size: 5vw;
      font-weight: 600;
       width: 20vw;
        height: 12vw;
        margin-left: 18vw;
    }
  .form-elements p, a{
    font-size: 5vw;
  }
  .check{
    width: 20px;
    height: 15px;
}
}